DEEPSEEK_API_KEY=''

# Optional for evaluation and tracing

# uncomment to set tracing to true when you set up your LangSmith account
#LANGSMITH_TRACING=true

LANGSMITH_API_KEY=''

# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
